<h1>New Playlist</h1>

<form action="/playlists" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  </p>

  <input type="submit" value="Create Playlist" />
</form>