

    <section>
      <div class="container">
        <div class="row justify-content-center text-center mb-6">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">Share your remixes that technically you can't.</h1>
            <p class="lead">Sick of getting your tracks pulled for Copyright stuff?</p>
            <p class="lead">We'll generate an awesome site for you to share your work.</p>
            <p class="lead">It's totally free.</p>
            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
              <div class="d-flex flex-column mx-1 text-center">
                <a href="/register" class="btn btn-lg btn-primary mb-2">                  
                  <span>Register</span>
                </a>              
              </div>
              <a href="#" class="mx-1 btn btn-lg btn-primary-3 mt-3 mt-sm-0">Login</a>
            </div>
          </div>
        </div>


      </div>
    </section>


 